body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-image: linear-gradient(45deg, #48494A, #060606);
    background-color: #48494A;
    overflow: hidden;
}

* {
    font: inherit;
}

/* Grid Setup */

#grid {
    display: grid;
    grid-template-areas:
        "block1 block1 block2"
        "block3 block5 block2"
        "block3 block4 block4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    gap: 1rem;
    text-align: center;
}

/* Grid Elements */


/* Enemy Text */
#block1 {
    grid-area: block1;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: solid 0.2rem #E9EDF0;
    border-radius: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "enemy-text1 enemy-text2"
        "enemy-output1 enemy-output2"
        "enemy-text3 enemy-text4"
        "enemy-output3 enemy-output4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1r 1fr 1fr 1fr;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: #ABAEB0;
    background-image: radial-gradient(circle, #E9EDF0, #ABAEB0);
    animation: block1-load 500ms;
}

@keyframes block1-load {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#enemy-text1 {
    grid-area: enemy-text1;
    font-weight: 500; 
}

#enemy-text2 {
    grid-area: enemy-text2;
    font-weight: 500;
    color: #288654;
}

#enemy-text3 {
    grid-area: enemy-text3;
    font-weight: 500;
    color: #C70000;
}

#enemy-text4 {
    grid-area: enemy-text4;
    font-weight: 500;
    color: #2A5DDE;
}

#enemy-output1 {
    grid-area: enemy-output1;
}

#enemy-output2 {
    grid-area: enemy-output2;
}

#enemy-output3 {
    grid-area: enemy-output3;
}


#enemy-output4 {
    grid-area: enemy-output4;
}

/* Enemy Graphic */
#block2 {
    grid-area: block2;
    display: grid;
    align-items: center;
    justify-content: center;
}

@keyframes enemy-image-load {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes enemy-image-fade {
    0% {
        transform: translateZ(-100%);
    }

    100% {
        transform: translateZ(0);
    }
}

.enemy-image {
    max-width: 405px;
    max-height: 720px;
}

/* Player Graphic */
#block3 {
    grid-area: block3;
    display: grid;
    align-items: center;
    justify-content: center;   
}

.player-image {
    max-width: 405px;
    max-height: 720px;
}

@keyframes player-image-load {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Player Text */
#block4 {
    grid-area: block4;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: solid 0.2rem #E9EDF0;
    border-radius: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "player-text player-text"
        "button1 button2"
        "button3 button4"
        "player-attack player-speed";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr .5fr;
    gap: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #E9EDF0;
    background-image: radial-gradient(circle, #E9EDF0, #ABAEB0);
    animation: block4-load 500ms;
}

@keyframes block4-load {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

#player-text {
    grid-area: player-text;
    font-weight: 500;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 500;
    background-image: radial-gradient(circle,  #E9EDF0, #48494A);
}

.button:hover {
    background-color: #ABAEB0;
    border: black solid 0.25rem;
}

#button1 {
    grid-area: button1;
    margin-left: 1rem;
    padding: 1rem; 
    color: #C70000;
    font-weight: 500; 
}

#button2 {
    grid-area: button2;
    margin-right: 1rem;
    padding: 1rem;
    color: #288654;
    font-weight: 500;
}

#button3 {
    grid-area: button3;
    margin-left: 1rem;
    padding: 1rem;
    color: #2A5DDE;
    font-weight: 500;
}
#button4 {
    grid-area: button4;
    margin-right: 1rem;
    padding: 1rem;
    font-weight: 500;
}

#player-attack {
    grid-area: player-attack;
}

#player-speed {
    grid-area: player-speed;
}

/* Center of Screen */
#block5 {
    grid-area: block5;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-areas:
        "enemy-actions"
        "player-actions";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

#block5 h1 {
    color: #E9EDF0;
}

#enemy-actions {
    grid-area: enemy-actions;
}

#player-actions {
    grid-area: player-actions;
}

#continue-button {
    padding-left: 3rem;
    padding-right: 3rem;
}

#pre-fight-button {
    padding-left: 3rem;
    padding-right: 3rem;
}